.home {
  height: 100vh;
  width: 100 vh;
  background-image: url('../img/site/the_work.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  cursor: url('../img/site/arrow.svg') 10 10, auto;
}
